<div class="topic-card-row">

  <button
    class="topic-card"
    (click)="onSelectedLearningTopic()">

    <span class="topic-number">
      {{ learningTopicIndex() }}
    </span>

    <span class="topic-title">
      {{ learningTopic() | titlecase }}
    </span>

  </button>

  <button
    class="details-toggle"
    (click)="toggleDetails()">

    @if (isExpandable()) {
      ▼
    } @else {
      ▶
    }

  </button>

</div>

@if (isExpandable()) {

  <div class="topic-details">

    @for (item of subTopics(); track item ; let j=$index) {
      <p>{{learningTopicIndex()}}.{{j+1}}  {{item}}</p>
    }

  </div>

}