<section class="topics-section">
  <div class="topics-header">
    <img class="angular-logo" [src]="imageUrl" alt="Angular logo" />
    <h1>{{ title }}</h1>
    <input
      type="text"
      placeholder="search Angular Topics"
      [value]="searchText()"
      (input)="onSearch($event)"
    />
  </div>
  <div class="topics-list">
    @for (
      angularLearningTopic of filteredAngularTopics();
      track angularLearningTopic;
      let i = $index
    ) {
      <div class="topic-row">
        <app-topic-card
          [learningTopicIndex]="i + 1"
          [learningTopic]="angularLearningTopic.title"
          [subTopics]="angularLearningTopic.subTopics"
          (selectedLearningTopic)="onTopicSelected($event)"
        >
        </app-topic-card>
      </div>
    } @empty {
      <p>No Angular topics available.</p>
    }
  </div>
</section>
