<section class="learning-hub">

  <h1>{{ title }}</h1>

  <div class="technology-buttons">

    <button
      [disabled]="disabledButton"
      (click)="angularTopics()">
      Angular
    </button>

    <button
      [disabled]="disabledButton"
      (click)="typeScriptTopics()">
      TypeScript
    </button>

    <button
      [disabled]="disabledButton"
      (click)="cSharpTopics()">
      C#
    </button>

  </div>


  @if (selectedTechnology() === "AngularBasics") {

    @if (selectedLearningTopicNotes === "") {

      <app-angular-topics
        (selectedLearningTopic)="selectedLearningTopicNotes = $event">
      </app-angular-topics>

    }
    @else {

      <app-topic-notes
        [topicNotes]="selectedLearningTopicNotes">
      </app-topic-notes>

    }

  }
  @else if (selectedTechnology() === "C#Basics") {

    <p>Learn C#</p>

  }
  @else if (selectedTechnology() === "TypeScriptBasics") {

    <p>Learn TypeScript</p>

  }
  @else {

    <p>Please select a technology</p>

  }


  <div class="learning-goal">

    <h3>What do you want to learn?</h3>

    <input [(ngModel)]="technology">

    <p>Current Goal: {{ technology }}</p>

  </div>

</section>